body {
    background-image: url("/static/background.jpeg");
    background-position: center; /* Center the image */
    position: relative;
    background-repeat: no-repeat; /* Do not repeat the image */
    margin: auto;
    text-align:center;
    width: 825px;
        padding: 20px 20px 90px;
}
.text {
    width: auto;
    padding: 10px;
    background-color: rgba(34, 139, 34, 0.8);
    margin: 0;
    position: relative;
    text-align: center;
}
table{
    alignment: center;
    position: center;
    margin: auto;
    text-align: center;
}
/*td{*/
/*    width: auto;*/
/*}*/
.a{
    text-align: right;
}
.b{
    text-align: left;
}