{% extends "base.html" %}
{% block content %}
    <form method="post" action="">
    {% csrf_token %}
        <label for="user">Username: </label><input type="text" name="user"><br/><br>
        <label for="command">Command: </label><input type="text" name="command"><br/><br>
    <input type="submit">
    <p>
        {% if login_name %}
            Logged in as {{ login_name }}
        {% else %}
            Not logged in
        {% endif %}
    </p>
    </form>
    <hr/>
    {% for message in message_list %}
        <p style="white-space: pre-wrap">{{ message }}</p>
    {% endfor %}
{% endblock content %}