<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/index.css">

    <div class="text">
        <title>Register</title>
        <h1>Register</h1>
    </div>
</head>
<body>
<form method="post" action="register">
    {% csrf_token %}
    <div class="text">
<table>
    <tr><td class="a">Username:</td><td class="b"><input name="name" type="text"/></td></tr>
    <tr></tr>
    <tr><td class="a">Password:</td><td class="b"><input name="password" type="password"/></td></tr>
    <tr><td class="a">Confirm Password:</td><td class="b"><input name="password2" type="password"/></td></tr>
    <tr><td></td><td class="b"><input name="opt" type="submit" value="Register" class="btn btn-info"/> +<input name="opt" type="submit" value="Login" class="btn btn-info"/></td></tr>
</table>
        <br>
        {{ message }}
        <br><br><br><br>
    </div>
</form>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>