<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/table.css">
    <div class="text">

    <title>GoonPoker Table </title>
    <h1>Poker</h1>
    <h2>by The Goon Squad</h2>
    </div>

</head>
<body>
<form method="post" action="">
    {% csrf_token %}
<div class="text">
    <! other users card backs and table>
    <table class="text">
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>{{ name.2 }}</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td> <img src="/static/card_back_red.png" style="height: 128px; width: 100px;" alt="card back" /></td>
            <td> <img src="/static/card_back_red.png" style="height: 128px; width: 100px;" alt="card back" /></td>
            <td> <img src="/static/card_back_red.png" style="height: 128px; width: 100px;" alt="card back" /></td>
            <td> <img src="/static/card_back_red.png" style="height: 128px; width: 100px;" alt="card back" /></td>
            <td> <img src="/static/card_back_red.png" style="height: 128px; width: 100px;" alt="card back" /></td>
            <td></td>
            <td></td>
        </tr>

        <tr>
            <td></td>
            <td><img src="/static/card_rotate.png" style="height: 100px; width: 128px;" alt="card back"/></td>
            <td style="height: 50px; width: 50px; background-color: forestgreen;"></td>
            <td style="height: 50px; width: 50px; background-color: forestgreen;"></td>
            <td style="height: 50px; width: 50px; background-color: forestgreen;"></td>
            <td style="height: 50px; width: 50px; background-color: forestgreen;"></td>
            <td style="height: 50px; width: 50px; background-color: forestgreen;"></td>
            <td><img src="/static/card_rotate.png" style="height: 100px; width: 128px;" alt="card back"/></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td><img src="/static/card_rotate.png" style="height: 100px; width: 128px;" alt="card back"/></td>
            <td style="height: 100px; width: 100px; background-color: forestgreen;"></td>
            <td style="height: 100px; width: 100px; background-color: forestgreen;"></td>
            <td style="height: 100px; width: 100px; background-color: forestgreen;"></td>
            <td style="height: 100px; width: 100px; background-color: forestgreen;"></td>
            <td style="height: 100px; width: 100px; background-color: forestgreen;"></td>
            <td><img src="/static/card_rotate.png" style="height: 100px; width: 128px;" alt="card back"/></td>
            <td></td>
        </tr>
        <tr>
            <td>{{ name.1 }}</td>
            <td><img src="/static/card_rotate.png" style="height: 100px; width: 128px;" alt="card back"/></td>
            <td style="height: 100px; width: 100px; background-color: forestgreen;"></td>
            <td style="height: 100px; width: 100px; background-color: forestgreen;"></td>
            <td style="height: 100px; width: 100px; background-color: forestgreen;"></td>
            <td style="height: 100px; width: 100px; background-color: forestgreen;"></td>
            <td style="height: 100px; width: 100px; background-color: forestgreen;"></td>
            <td><img src="/static/card_rotate.png" style="height: 100px; width: 128px;" alt="card back"/></td>
            <td>{{ name.3 }}</td>
        </tr>
        <tr>
            <td></td>
            <td><img src="/static/card_rotate.png" style="height: 100px; width: 128px;" alt="card back"/></td>
            <td style="height: 100px; width: 100px; background-color: forestgreen;"></td>
            <td style="height: 100px; width: 100px; background-color: forestgreen;"></td>
            <td style="height: 100px; width: 100px; background-color: forestgreen;"></td>
            <td style="height: 100px; width: 100px; background-color: forestgreen;"></td>
            <td style="height: 100px; width: 100px; background-color: forestgreen;"></td>
            <td><img src="/static/card_rotate.png" style="height: 100px; width: 128px;" alt="card back"/></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td><img src="/static/card_rotate.png" style="height: 100px; width: 128px;" alt="card back"/></td>
            <td style="height: 100px; width: 100px; background-color: forestgreen;"></td>
            <td style="height: 100px; width: 100px; background-color: forestgreen;"></td>
            <td style="height: 100px; width: 100px; background-color: forestgreen;"></td>
            <td style="height: 100px; width: 100px; background-color: forestgreen;"></td>
            <td style="height: 100px; width: 100px; background-color: forestgreen;"></td>
            <td><img src="/static/card_rotate.png" style="height: 100px; width: 128px;" alt="card back"/></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td style="height: 128px;"></td>
            <td><div style="background-image: url(/static/Deck.png); background-repeat: no-repeat; background-color: forestgreen; width: 49px; height: 64px; background-position: {{ offset.0 }}px {{ offset.1 }}px; transform: scale(2); border-style: solid; border-width: 1px;"></div></td>
            <td><div style="background-image: url(/static/Deck.png); background-repeat: no-repeat; background-color: forestgreen; width: 49px; height: 64px; background-position: {{ offset.2 }}px {{ offset.3 }}px; transform: scale(2); border-style: solid; border-width: 1px;"></div></td>
            <td><div style="background-image: url(/static/Deck.png); background-repeat: no-repeat; background-color: forestgreen; width: 49px; height: 64px; background-position: {{ offset.4 }}px {{ offset.5 }}px; transform: scale(2); border-style: solid; border-width: 1px;"></div></td>
            <td><div style="background-image: url(/static/Deck.png); background-repeat: no-repeat; background-color: forestgreen; width: 49px; height: 64px; background-position: {{ offset.6 }}px {{ offset.7 }}px; transform: scale(2); border-style: solid; border-width: 1px;"></div></td>
            <td><div style="background-image: url(/static/Deck.png); background-repeat: no-repeat; background-color: forestgreen; width: 49px; height: 64px; background-position: {{ offset.8 }}px {{ offset.9 }}px; transform: scale(2); border-style: solid; border-width: 1px;"></div></td>
            <td></td>
            <td></td>
        </tr>
    </table>

    <table>
        <!current user's display>
        <tr>{{ name.0 }}</tr>
    {% if enable.1 %}
        <tr><td>Raise:  </td>
            <td class="b"><input name="raise" type="text" size="3"/></td>
            <td><input name="opt" type="submit" class="btn btn-info" value="Submit"></td>
        </tr>
    {% endif %}
    <tr>
        {% if enable.0 %}
            <td><input name="opt" type="submit" class="btn btn-info" value="Check"></td>
        {% endif %}
        {% if enable.2 %}
            <td><input name="opt" type="submit" class="btn btn-info" value="Call"/></td>
        {% endif %}
        {% if enable.3 %}
            <td><input name="opt" type="submit" class="btn btn-info" {{ button_status }} value="Fold"/></td>
        {% endif %}
        {% if not enable.0 and not enable.2 and not enable.3 %}
            <td></td>
        {% endif %}
        <td><input name="opt" type="submit" class="btn btn-info" {{ button_status }} value="Quit"/></td>
    </tr>
        <tr><td colspan="3"><input name="opt" type="submit" class="btn" value="Refresh"/></td></tr>
    </table>

    <br>
    Your Chips: {{ chips }}<br>
    Current bet: {{ bet }}<br>
    Total pot: {{ pot }}<br>
    {{ message }}<br>
    {{ login_name }}


</div>
</form>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>