<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" href="/static/css/table.css">
    <div class="text"><title> </title></div>
</head>
<body>
<div class="text">
    <p1>
        <form method = "post" action = "">
            {% csrf_token %}
            <input name="opt" type="submit" value="Logout" class="btn btn-info"/>
        {% if login_name == 'admin' %}
            <input name="opt" type="submit" value="Users" class="btn btn-info"/>
        {% endif %}
        </form>
            <h1> Tables </h1>
    </p1>
    <p2>
        {% if login_name == 'admin' %}
            <form method = "post" action = "">
            {% csrf_token %}
                <tr><td class="a">Table Name:</td><td class="b"><input name="table_name" type="text"/></td></tr>
                <tr></tr>
                <tr><td></td><td class="b"><input name="opt" type="submit" value="Add Table" class="btn btn-info"/> <input name="opt" type="submit" value="Delete Table" class="btn btn-info"/></td></tr>
            </form>
        {% endif %}
    </p2>
    <p3>
        {% if login_name %}
            <table>
                {% for i in table_names %}
                    <tr><td> <a href="{% url "table" %}?user={{ login_name }}&tablename={{ i }}" class="btn btn-light btn-sm">Join {{ i }}</a></td></tr>
                {% endfor %}
            </table>

        {% endif %}
    </p3>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>