#myCard {
    height: 64px;
    width: 50px;
    background-image: url("Deck.png");
    /*background-position: -588px -128px;*/
    /*background-position: -{{3*64}}px -{{2*50}}px;*/
    background-position: -64px -50px;
    border-style: solid;
    border-width: 1px;
}

img3 {
    height: 64px;
    width: 50px;
    image: url("/templates/Deck.png");
    background-position: -588px -128px;
}

#rotate {
    transform: rotate(-90deg);
}

td {
    border-spacing: 0;
    border-style: none;
    border-width: 0;
}
body {
    top: 125px;
    background-image: url("/static/background.jpeg");
    background-position: center; /* Center the image */
    position: relative;
    background-repeat: no-repeat; /* Do not repeat the image */
    margin: auto;
    text-align:center;
    max-width: 600px;
        padding: 20px 20px 90px;
    }
.text {
    width: auto;
    padding: 10px;
    background-color: rgba(34, 139, 34, 0.8);
    margin: 0;
    position: relative;
    text-align: center;
}
