<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/table.css">
    <title class="text">Users</title>
</head>
<body>
    <div class="text">
    <form method="post" action="">
    {% csrf_token %}
        <table>
        <tr><td class="a"><input name="opt" type="submit" value="Logout" class="btn btn-info"/></td>
            <td class="a"><input name="opt" type="submit" value="Tables" class="btn btn-info"/></td>
        </tr>
    </table>
    </form>
    <h1>All Users</h1>
        <table>
    {% for user in all_users %}
        <tr><td class="a">{{ user.0 }}: </td><td>
        {% if user.1 %}
            Logged In
        {% endif %}
        </td></tr>
    {% endfor %}
        </table>
    </div>

    <div class="text">
    <h1>Edit Users</h1>
    <p1>
        <form method="post" action="">
        <table>
    {% csrf_token %}
        <tr><td class="a"><label>Username: <input name="username" type="text" /></label></td></tr>
        <tr><td class="a"><label>Password: <input name="password" type="text" /></label></td></tr>
        <tr><td><input name="opt" type="submit" value="Add User"class="btn btn-info"/>
            <input name="opt" type="submit" value="Delete User" class="btn btn-info"/></td>
        </tr>

            </table>
        </form>
        {{ message }}
    </p1>
 </div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>